@use "./variables" as *;
.about {
  display: flex;
  justify-content: space-between;

  p {
    width: 80%;
  }

  @include mobileMediaQuery {
    flex-direction: column;

    img {
      width: 90%;
      height: auto;
      margin: 20px auto;
    }

    p {
      text-align: justify;
      margin: 40px auto;
      width: 100%;
      line-height: 30px;
    }
  }
}
.socialLinks {
  display: flex;
  gap: 30px;

  svg {
    transition: color 0.3s ease-in-out;
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: $white-letter;
    }
  }
  @include mobileMediaQuery {
    justify-content: center;
    margin-top: 20px;
  }
}

.profileAvatar {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
