@use "./variables" as *;
.about {
  display: flex;
  justify-content: space-between;
  p {
    width: 60%;
  }

  a {
    color: $gray-dark;
    padding: 3px;
    transition: 0.5s;

    &:hover {
      background-color: $gray-dark;
      color: $gray-light;
      text-decoration: none;
    }
  }

  @include mobileMediaQuery {
    flex-direction: column;

    img {
      width: 90%;
      margin: 20px auto;
    }

    p {
      text-align: justify;
      margin: 40px auto;
      width: 100%;
      line-height: 30px;
    }
  }
}
.socialLinks {
  display: flex;
  gap: 30px;
  svg {
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: $white-letter;
    }
  }
  @include mobileMediaQuery {
    justify-content: center;
    margin-top: 20px;
  }
}

.profileAvatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
