@use "./variables" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  color: $white-letter;
  padding: 25px 20px;
  text-decoration: none;
  margin-right: 10px;
  max-width: 400px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  outline: 2px solid $white-letter;
  border: none;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  z-index: 1;

  svg {
    margin-left: 10px;
  }

  &:hover {
    color: $background;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 0;
    height: 105%;
    background-color: $white-letter;
    transform: skewX(35deg);
    z-index: -10;
    transition: width 0.8s;
  }

  &:hover::before {
    width: 150%;
  }

  @include media-max(750px) {
    font-size: 1em;
  }
}

.light {
  color: $background;
  outline: 2px solid $background;
  background-color: $white-letter;

  &:hover {
    color: $white-letter;
  }

  &::before {
    background-color: $background;
  }
}
