@use "./variables" as *;

.contactSession {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  h5 {
    font-size: 1.2rem;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5vw;
  a {
    width: 30vw;
  }
}

// @media screen and (max-width: 850px) {
//   .buttons {
//     flex-wrap: wrap;
//   }
//   .buttons a {
//     margin: 20px 0 0 0;
//   }
// }
