@use "./variables" as *;

.footer {
  margin-top: 30px;
  border-top: $gray-darkest 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  text-align: center;
}
