@import "./globals.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: $dark-background;
  color: $white-letter;

  p {
    text-align: center;
    margin: 0 5vw 0 5vw;
  }
}
