@use "./variables" as *;

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appearFromLeft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  70% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
}
.typing {
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 20px;
  font-family: "Roboto Mono", monospace !important;
  font-size: 65px;

  @include media-between(401px, 700px) {
    font-size: 40px;
  }
  @include media-between(350px, 400px) {
    font-size: 33px;
  }
  @include media-max(349px) {
    font-size: 28px;
  }
}
.presentation {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards 2s;
  display: flex;
  align-self: center;
}
.name {
  position: relative;
  margin-left: 10px;
  background-size: 200% 200%;
  animation: colors 4s ease-in-out infinite;
  @include rainbow-gradient(90deg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $white-letter;
}

.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $white-letter;
  background-color: $dark-background;
  background-size: 200% 200%;
  animation: colors 10s ease-in-out infinite;

  h1 {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    margin-bottom: 15px;

    @include media-between(401px, 700px) {
      font-size: 30px;
    }
    @include media-between(350px, 400px) {
      font-size: 25px;
    }
    @include media-max(349px) {
      font-size: 20px;
    }
  }

  h2 {
    margin-bottom: 12dvh;
    opacity: 0;
    animation: appearFromLeft 0.8s ease-in-out forwards 3s;
    @include media-between(350px, 400px) {
      font-size: 20px !important;
    }
  }
}
