@use "./variables" as *;

@keyframes showMenu {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes hideMenu {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
  }
}
.innersb {
  position: absolute;
  top: 0px;
  bottom: 0px;
  font-size: 1.4em;
  right: -600px;
  opacity: 0;
  background-color: white;
  min-height: 200vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  transition: right 0.5s ease-in-out;
  z-index: 2;

  nav {
    margin-top: 20%;
  }

  ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;

    div {
      align-self: center;
    }
  }

  .close {
    align-self: flex-end;
    margin: 20px 30px 0 0;
    transform-origin: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.3);
    }
  }

  @include media-max(500px) {
    min-width: 80vw;
  }
}
header div:not(.show) {
  animation: hideMenu 0.5s ease-in-out;
}
.show {
  opacity: 1;
  right: 0;
  animation: showMenu 0.5s ease-in-out;
}
.exitmenu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}
