@use "./variables" as *;

.languageSelector {
  position: relative;
  border: none !important;
  border-radius: $border-radius-full;
  background-color: generate-opacity($background, 0.8);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: 0;
  flex-shrink: 0;

  .locale,
  .activeLocale {
    background: none;
    border: none;
    border-radius: $border-radius-full;
    padding: 8px;
    color: $letter;
    cursor: pointer;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    white-space: nowrap;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:first-child) {
      opacity: 0;
      transform: translateX(-10px);
      transition: all 0.3s ease;
      max-width: 0;
      padding: 0;
      pointer-events: none;
    }

    &:hover {
      background-color: generate-opacity($white-letter, 0.1);
    }
    // Mantém o tamanho consistente também no mobile.
  }

  .activeLocale {
    background-color: $white-letter;
    color: $dark-letter;

    &:hover {
      background-color: $white-letter;
      opacity: 0.9;
    }
  }

  &:hover {
    @include biggerThanMobileMediaQuery {
      gap: 1rem;
      .locale:not(:first-child),
      .activeLocale:not(:first-child) {
        opacity: 1;
        transform: translateX(0);
        max-width: 4rem;
        padding: 8px;
        pointer-events: auto;
      }
    }
  }

  &.open {
    gap: 1rem;
    .locale:not(:first-child),
    .activeLocale:not(:first-child) {
      opacity: 1;
      transform: translateX(0);
      max-width: 4rem;
      padding: 8px;
      pointer-events: auto;
    }
  }
}
