@use "./variables" as *;
.navbar {
  z-index: 10;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transform: translateX(0);
  transition: transform 0.3s ease;
  ::-webkit-scrollbar {
    display: none;
  }
  nav {
    padding: 10px 15px;
    border: 1px solid generate-opacity($letter, 0.1);
    backdrop-filter: blur(10px);
    border-radius: $border-radius-full;
    z-index: 10;
    width: fit-content;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1.2em;
      width: max-content;
      li {
        list-style: none;
        a {
          font-size: 0.9em;
          padding: 5px 10px;
          border-radius: $border-radius-full;
          transition: 0.3s ease-in-out;
          @include mobileMediaQuery {
            font-size: 0.7em;
          }
        }
        &:hover {
          a {
            background-color: generate-opacity($letter, 0.1);
          }
        }
        &.active {
          a {
            background-color: $white-letter;
            color: $dark-letter;
          }
        }
      }
      @include mobileMediaQuery {
        padding: 5px 8px;
        font-size: 0.7em;
      }
    }
    @include mobileMediaQuery {
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }
  @include mobileMediaQuery {
    font-size: 0.8rem;
  }
}

.langOpen {
  @include mobileMediaQuery {
    // transform: translateX(-15vw);
  }
}
