@use "./variables" as *;

.projectCard {
  margin: 8dvh 0 0 40px;
  padding: 15px;
  width: 45%;
  border: solid $gray-dark 2px;
  border-radius: 20px;
  transition: all 0.5s ease;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 100%;
    height: auto;
    margin: 10px auto 15px auto;
  }

  p {
    letter-spacing: 2px;
    line-height: 1.5;
  }

  h4 {
    color: $white-letter;
    font-size: 1.5rem;
  }

  @include mobileMediaQuery {
    width: 85%;
    margin: 6dvh auto 0 auto;
  }
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
  width: 100%;
  row-gap: 2rem;
  @include mobileMediaQuery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}

.projectCard {
  width: 100%;
}

.singleButton {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  row-gap: 20px;
  width: 100%;

  justify-content: space-between;
  bottom: 15px;
  @include mobileMediaQuery {
    display: flex;
    flex-direction: column;
  }
}

.singleButton {
  justify-content: center;
}

.languagesIcons {
  display: flex;
  margin: 15px 0;
  gap: 8px;
  svg {
    transition: color 0.3s ease;
    &:hover {
      color: $white-letter;
    }
  }
}

.lang {
  display: flex;
  margin-left: 10px;

  li {
    list-style: none;
  }

  svg {
    width: 30px;
    height: auto;
    margin: 20px 20px 10px 0;
    color: $gray-medium;

    &:hover {
      color: $white-letter;
    }
  }
}
