@use "./variables" as *;

.skillSwiper {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  :global(.swiper-pagination-bullet) {
    height: 24px;
    width: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5;
    opacity: 1;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: $white-letter;
    opacity: 1;
  }

  :global(.swiper-pagination-bullet:hover) {
    background-color: $white-letter;
    opacity: 0.9;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.skillsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
}

.skillItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
